<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About page</title>
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
</head>
<body>
<div th:replace="fragments/header :: header">header</div>
<div class="row1">
  <div class="row1content" th:if="${party}">

    <h1 th:text="${party.name}">partydetails</h1>

    <h1>
      <span th:text="${party.date}">date</span>
      in
      <a th:href="@{|/venuedetails/${party.venue.id}|}" th:text="${party.venue.venueName}">venue</a>
    </h1>
    <div class="linkercontainer">
      <p>price:</p>
      <p>where:</p>
      <p>doors:</p>
      <p>extraInfo</p>
      <p>name:</p></div>

    <div class="rechtercontainer">
      <p th:unless="${party.pricePresaleInEur!=null || party.priceInEur!=null}"> Free Party!</p>
      <p th:unless="|${party.pricePresaleInEur}&euro; (presale) / ${party.priceInEur}&euro;|"> pricePresaleInEur
        and price</p>
      <p th:text="|${party.venue.city} (${party.venue.distanceFromPublicTransportInKm} km from public transport)|">
        city and distance</p>
      <p th:text="${party.doors}">date</p>
      <p th:unless="${!party.extraInfo.isBlank()}"> No extra info available</p>
      <p th:text="${party.extraInfo}">extraInfo</p>
      <form th:action="@{|/admin/partyedit/${party.id}|}" method="post">
        <input th:value="${party.name}" type="text" name="partyName">
        <input type="text" id="fname" name="fname">

      </form>
    </div>
    <div class="container">
      <div class="containerbelow">
        <h1 class="container">Save party:</h1>
        <ul class="buttonlist">
          <li>
            <a class="container" th:href="@{|/partydetails/${party.id}|}">SAVE
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="containerbelow">
        <h1 class="container">Cancel party:</h1>
        <ul class="buttonlist">
          <li>
            <a class="container" th:href="@{|/partydetails/${party.id}|}">CANCEL
            </a>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </div>
</div>
</div>

</div>
</body>
</html>