<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About page</title>
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
</head>
<body>
<div th:replace="fragments/header :: header">header</div>
<div class="border"><a th:href="@{|/animaldetails.html/${animal.id}/prev|}" href="#" class="nextprev">&lt;</a></div>

<div class="row1">
  <div class="row1content" th:if="${animal}">

    <h1 th:text="${animal.name}">animaldetails</h1>

    <h1>
      <span th:text="${party.date}">date</span>
    </h1>
    <div class="linkercontainer">
      <p>city:</p>
      <p>bio:</p>
    </div>

    <div class="rechtercontainer">
      <p th:text="${animal.city}">city</p>
      <p th:text="${animal.bio}">bio</p>

    </div>
    <div class="border"><a th:href="@{|/animaldetails/${animal.id}/next|}" href="#" class="nextprev">&gt;</a>
    </div>
  </div>
  <div class="container">
    <div class="containerbelow">
      <h1 class="container">line up:</h1>
      <ul class="buttonlist">
        <li th:each="party:${animal.parties}">
          <a class="container" th:href="@{|/partydetails/${party.id}|}">
            <span th:text="${party.name}">venue name </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>