<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Venue list</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
</head>
<body>
<div th:replace="fragments/header :: header">header</div>
<div class="row1">
    <div class="row1content">
        <h2>artists</h2>
        <div class="cols2">
            <div th:text="|${nrOfArtists} artists found|">10 artists</div>
            <BR>
            <div th:unless="${showFilters}" class="filters">
                <a class="buttonLook filterButton" th:href="@{/artistlist/filter}">filter</a>
            </div>
            <BR>
            <div th:if="${showFilters}" class="filters">
                <a class="buttonLook filterButton" th:href="@{/artistlist}"> Go back to full artistlist</a>
                <form>
                    <BR>
                    <div class="onefilter">
                        <input type="submit" value="search" class="buttonLook filterButton">
                    </div>
                    <h2>keyword</h2>
                    <div class="onefilter">
                        <label for="keyword" class="filtername"></label>
                        <input type="text" id="keyword" name="keyword" th:value="${keyword}" value="0">
                    </div>
                    <BR>
                </form>
            </div>
            <div class="venuelist">
                <div th:each="artist:${artists}">
                    <a class="buttonLook mediumButton"
                       th:href="@{|/artistdetails/${artist.id}|}"
                       th:text="${artist.artistName}">artist name</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>